{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원 사이트</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image:url(http://www.matcl.com/files/attach/images/2791205/010/801/002/61d156f2fbc9de51d589197de301e131.jpg);">
    

    {% for recruit in recruits.all %}
        <a href="{% url 'detail' recruit.id %}">{{recruit.name}}</a>
        <a href="{% url 'update' recruit.id %}"><span>수정</span></a>
        <a href="{% url 'delete' recruit.id %}"><span>삭제</span></a>
    {% endfor %}
    
    <a href="{% url 'create' %}">지원하기</a>
</body>
</html>