{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원 사이트</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% for recruit in recruits.all %}
        <div><a href="{% url 'detail' recruit.id %}">{{recruit.name}}</a></div>
        <a href="{% url 'update' recruit.id %}"><span>수정</span></a>
        <a href="{% url 'delete' recruit.id %}"><span>삭제</span></a>
    {% endfor %}
    
    <a href="{% url 'create' %}">지원하기</a>
</body>
</html>